<h1>Listing territories</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Num armies</th>
      <th>Geo state</th>
      <th>Game</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @territories.each do |territory| %>
      <tr>
        <td><%= territory.owner_id %></td>
        <td><%= territory.num_armies %></td>
        <td><%= territory.geo_state %></td>
        <td><%= territory.game_id %></td>
        <td><%= link_to 'Show', territory %></td>
        <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
        <td><%= link_to 'Destroy', territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Territory', new_territory_path %>
