<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @territory.owner_id %>
</p>

<p>
  <strong>Num armies:</strong>
  <%= @territory.num_armies %>
</p>

<p>
  <strong>Geo state:</strong>
  <%= @territory.geo_state %>
</p>

<p>
  <strong>Game:</strong>
  <%= @territory.game_id %>
</p>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
